
<div class="type-slider">

	<div class="swiper-wrapper">
		<div class="type-slide swiper-slide" style="background-image: url(../tmp/main-slide-3.jpg);">
			<div class="type-slide-descr">
				<div class="type-slide__title">
					Распашная дверь TOLEDO
				</div>
				<div class="type-slide__subtitle">
					Любой тип покрытия<br>на выбор
				</div>
			</div>
			<div class="list-type">
				<a href="#">Прямого<br>типа</a>
				<a href="#">Радиусного<br>типа</a>
			</div>
		</div>
		<div class="type-slide swiper-slide" style="background-image: url(../tmp/main-slide-4.jpg);">
			<div class="type-slide-descr">
				<div class="type-slide__title">
					Распашная дверь TOLEDO
				</div>
				<div class="type-slide__subtitle">
					Любой тип покрытия<br>на выбор
				</div>
			</div>
			<div class="list-type">
				<a href="#">Прямого<br>типа</a>
				<a href="#">Радиусного<br>типа</a>
			</div>
		</div>
	</div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

</div>