
<div class="catalog-slider">

	<div class="swiper-wrapper">
		<div class="catalog-slide swiper-slide" style="background-image: url(../tmp/main-slide.jpg);">
			<div class="catalog-slide__title">Раздвижная дверь GRANADA</div>
			
			<div class="parametrs">
				<div class="parametr parametrs--height">Максимальная<br>высота</div>
				<div class="parametr parametrs--width">Максимальная<br>ширина</div>
				<div class="parametr parametrs--noise">Звукоизоляция</div>
			</div>
			<ul class="catalog-bottom">
				<li class="panel-one">
					<div class="panel-title">Варианты профилей</div>
					<div class="panel-inn">
						text
					</div>
				</li>
				<li class="panel-one">
					<div class="panel-title">Варианты ЗАПОЛНЕНИЙ</div>
					<div class="panel-inn">
						text
					</div>
				</li>
				<li class="panel-one">
					<div class="panel-title">ФУРНИТУРА</div>
					<div class="panel-inn">
						text
					</div>
				</li>
				<li class="panel-one panel-one--gallery">
					<div class="panel-title">ГАЛЕРЕЯ РАБОТ</div>
					<div class="panel-inn">
						text
					</div>
				</li>
				<li class="panel-one panel-one--interier">
					<div class="panel-title">ИНТЕРЬЕРНЫЕ РЕШЕНИЯ
						<div class="interier-counter">
							<i></i><i></i><i></i><i></i>
						</div>
					</div>
					<div class="panel-inn">
						text
					</div>
				</li>
			</ul>

		</div>
		<div class="catalog-slide swiper-slide" style="background-image: url(../tmp/main-slide-2.jpg);">
			<div class="catalog-slide__title">Раздвижная дверь GRANADA</div>
			
			<div class="parametrs">
				<div class="parametr parametrs--height">Максимальная высота</div>
				<div class="parametr parametrs--width">Максимальная ширина</div>
				<div class="parametr parametrs--noise">Звукоизоляция</div>
			</div>
			<ul class="catalog-bottom">
				<li class="panel-one">
					<div class="panel-title">Варианты профилей</div>
					<div class="panel-inn">
						text
					</div>
				</li>
				<li class="panel-one">
					<div class="panel-title">Варианты ЗАПОЛНЕНИЙ</div>
					<div class="panel-inn">
						text
					</div>
				</li>
				<li class="panel-one">
					<div class="panel-title">ФУРНИТУРА</div>
					<div class="panel-inn">
						text
					</div>
				</li>
				<li class="panel-one panel-one--gallery">
					<div class="panel-title">ГАЛЕРЕЯ РАБОТ</div>
					<div class="panel-inn">
						text
					</div>
				</li>
				<li class="panel-one panel-one--interier">
					<div class="panel-title">ИНТЕРЬЕРНЫЕ РЕШЕНИЯ
						<div class="interier-counter">
							<i></i><i></i><i></i><i></i>
						</div>
					</div>
					<div class="panel-inn">
						text
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

</div>