
<div class="main-slider">

	<div class="swiper-wrapper">
		<div class="catalog-slide swiper-slide slide--active">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide-3.jpg);">
				<div class="catalog-slide__title">Раздвижная дверь GRANADA<br>
					<span>с габаритами 2415х570х2300 мм</span>
				<div class="slider-info"></div>
				</div>
				
				
				<div class="panel-overlay"></div>
				<ul class="catalog-bottom">
					<li class="about-one panel-one--fourth">
						<div class="about-title">Замер</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
					</li>
					<li class="about-one panel-one--fourth">
						<div class="about-title">Разработка</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
					</li>
					<li class="about-one panel-one--fourth">
						<div class="about-title">Склад</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
						
					</li>
					<li class="about-one panel-one--fourth">
						<div class="about-title">Производство</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>