
<div class="main-slider">
				
	<div class="swiper-wrapper">
		<div class="catalog-slide swiper-slide slide--active">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide-3.jpg);">
				<div class="catalog-slide__title">Замер<br>
					<span>Цель «МИКСАЛ» - продолжать совершенствовать технологии производства, чтобы предлагать уникальную, высококачественную продукцию, и внедрять инновации в области дизайна и функциональности.</span>
				<div class="slider-info"></div>
				</div>
				
				
				
			</div>
		</div>
		<div class="catalog-slide swiper-slide">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide-2.jpg);">
				<div class="catalog-slide__title">Замер<br>
					<span>Цель «МИКСАЛ» - продолжать совершенствовать технологии производства, чтобы предлагать уникальную, высококачественную продукцию, и внедрять инновации в области дизайна и функциональности.</span>
				<div class="slider-info"></div>
				</div>
				
			</div>
		</div>
		<div class="catalog-slide swiper-slide">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide.jpg);">
				<div class="catalog-slide__title">Замер<br>
					<span>Цель «МИКСАЛ» - продолжать совершенствовать технологии производства, чтобы предлагать уникальную, высококачественную продукцию, и внедрять инновации в области дизайна и функциональности.</span>
				<div class="slider-info"></div>
				</div>
			</div>
		</div>
		<div class="catalog-slide swiper-slide">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide-3.jpg);">
				<div class="catalog-slide__title">Замер<br>
					<span>Цель «МИКСАЛ» - продолжать совершенствовать технологии производства, чтобы предлагать уникальную, высококачественную продукцию, и внедрять инновации в области дизайна и функциональности.</span>
				<div class="slider-info"></div>
				</div>
			</div>
		</div>
		<div class="catalog-slide swiper-slide">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide-2.jpg);">
				<div class="catalog-slide__title">Замер<br>
					<span>Цель «МИКСАЛ» - продолжать совершенствовать технологии производства, чтобы предлагать уникальную, высококачественную продукцию, и внедрять инновации в области дизайна и функциональности.</span>
				<div class="slider-info"></div>
				</div>
			</div>
		</div>
		<div class="catalog-slide swiper-slide">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide.jpg);">
				<div class="catalog-slide__title">Замер<br>
					<span>Цель «МИКСАЛ» - продолжать совершенствовать технологии производства, чтобы предлагать уникальную, высококачественную продукцию, и внедрять инновации в области дизайна и функциональности.</span>
				<div class="slider-info"></div>
				</div>
			</div>
		</div>
		<div class="catalog-slide swiper-slide">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide-3.jpg);">
				<div class="catalog-slide__title">Замер<br>
					<span>Цель «МИКСАЛ» - продолжать совершенствовать технологии производства, чтобы предлагать уникальную, высококачественную продукцию, и внедрять инновации в области дизайна и функциональности.</span>
				<div class="slider-info"></div>
				</div>
			</div>
		</div>
		<div class="catalog-slide swiper-slide">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide-2.jpg);">
				<div class="catalog-slide__title">Замер<br>
					<span>Цель «МИКСАЛ» - продолжать совершенствовать технологии производства, чтобы предлагать уникальную, высококачественную продукцию, и внедрять инновации в области дизайна и функциональности.</span>
				<div class="slider-info"></div>
				</div>
			</div>
		</div>
		
	</div>
	<ul class="catalog-bottom">
					<li class="about-one active panel-one--fourth">
						<div class="about-title">Замер</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
						<div class="about-nav-list">
							<div class="about-nav active" data-index="0"></div>
							<div class="about-nav" data-index="1"></div>
							<div class="about-nav" data-index="2"></div>
						</div>
					</li>
					<li class="about-one panel-one--fourth">
						<div class="about-title">Разработка</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
						<div class="about-nav-list">
							<div class="about-nav" data-index="3"></div>
							<div class="about-nav" data-index="4"></div>
							<div class="about-nav" data-index="5"></div>
						</div>
					</li>
					<li class="about-one panel-one--fourth">
						<div class="about-title">Склад</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
						<div class="about-nav-list">
							<div class="about-nav" data-index="6"></div>
						</div>
						
					</li>
					<li class="about-one panel-one--fourth">
						<div class="about-title">Производство</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
						<div class="about-nav-list">
							<div class="about-nav" data-index="7"></div>
						</div>
					</li>
				</ul>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>