	<div class="contact" style="background-image: url(../tmp/main-slide-3.jpg);">
		<div class="catalog-slide__title catalog-slide__title--contact">Контакты<br>
			
		</div>

		<div class="contact-mobile">
			<div class="contact-mobile-one">
				<h1>Cалоны в Москве</h1>

				<div class="contact-mobile-salon">
					<h3>Выставка "Mobel Expo"</h3>
					<p>г. Москва, Нахимовский проспект, д. 24 новый зал, павильон M15-М16</p>
					<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
				</div>
				<div class="contact-mobile-salon">
					<h3>Выставка "Mobel Expo"</h3>
					<p>г. Москва, Нахимовский проспект, д. 24 новый зал, павильон M15-М16</p>
					<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
				</div>
				<div class="contact-mobile-salon">
					<h3>Выставка "Mobel Expo"</h3>
					<p>г. Москва, Нахимовский проспект, д. 24 новый зал, павильон M15-М16</p>
					<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
				</div>
				<div class="contact-mobile-salon">
					<h3>Выставка "Mobel Expo"</h3>
					<p>г. Москва, Нахимовский проспект, д. 24 новый зал, павильон M15-М16</p>
					<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
				</div>
	
			</div>

			<div class="partner-list">
				<h1>Наши партнеры</h1>
			    <h3>Москва</h3>
			    <ul>
			      <li>
			         <b>Атмосфера Дерева</b>
			         <br>Адрес: г. Москва, Нижняя Сыромятническая, д.10 стр.2 ARTPLAY оф. 34,1/1 <a href="#map" class="shop-on-map" rel="d4158" title="Показать на карте">На карте</a>
			         <br>Телефон: 8-495-989-11-12                                                            
			      </li>
			      <li>
			         <b>Компания "Элител"</b>
			         <br>Адрес: ул. Вавилова, д. 15  <a href="#map" class="shop-on-map" rel="d2725" title="Показать на карте">На карте</a>
			         <br>Телефон: (495) 223-65-55                     <br>E-mail: <a href="mailto:info@elitel.ru ">info@elitel.ru </a>                    <br>
			         <noindex>Сайт: <a href="http://www.elitel.ru" rel="nofollow" target="_blank">www.elitel.ru</a></noindex>
			      </li>
			      <li>
			         <b>ООО " ДверМаг"</b>
			         <br>Адрес: ул. Мневники, дом 10к1 <a href="#map" class="shop-on-map" rel="d2582" title="Показать на карте">На карте</a>
			         <br>Телефон: (495) 286-83-93                    <br>E-mail: <a href="mailto:roman@dvermag.ru">roman@dvermag.ru</a>                    <br>
			         <noindex>Сайт: <a href="http://www.dvermag.ru" rel="nofollow" target="_blank">www.dvermag.ru</a></noindex>
			      </li>
			      <li>
			         <b>ООО "ДверМаг"</b>
			         <br>Адрес: Волгоградский проспект, дом 47 <a href="#map" class="shop-on-map" rel="d2583" title="Показать на карте">На карте</a>
			         <br>Телефон: (495) 286-83-93                    <br>E-mail: <a href="mailto:roman@dvermag.ru">roman@dvermag.ru</a>                    <br>
			         <noindex>Сайт: <a href="http://www.dvermag.ru" rel="nofollow" target="_blank">www.dvermag.ru</a></noindex>
			      </li>
			      <li>
			         <b>ООО ЕВРОДВЕРИ</b>
			         <br>Адрес: Борисовские пруды, д.1, стр 72, 3 эт. оф. 304 <a href="#map" class="shop-on-map" rel="d2584" title="Показать на карте">На карте</a>
			         <br>Телефон: (495)72-52-683 доб. 3                    <br>E-mail: <a href="mailto:dverieuro@mail.ru">dverieuro@mail.ru</a>                    <br>
			         <noindex>Сайт: <a href="http://www.glassdesing.ru" rel="nofollow" target="_blank">www.glassdesing.ru</a></noindex>
			      </li>
			      <li>
			         <b>Сеть салонов паркета и дверей "Villa di Parchetti" Ленинский</b>
			         <br>Адрес: Ленинский&nbsp;пр., 66 <a href="#map" class="shop-on-map" rel="d2585" title="Показать на карте">На карте</a>
			         <br>Телефон: (495)&nbsp;788-83-42                    <br>E-mail: <a href="mailto:leninskiy@vparchetti.ru">leninskiy@vparchetti.ru</a>                    <br>
			         <noindex>Сайт: <a href="http://www.vparchetti.ru" rel="nofollow" target="_blank">www.vparchetti.ru</a></noindex>
			      </li>
			   </ul>
			</div>
			       
		</div>		
	</div>
	<div class="panel-overlay"></div>
	<ul class="catalog-bottom catalog-bottom--contact">
					<li class="panel-one about-one">
						<div class="contact-title">Выставка<br>"Mobel Expo"</div>
						<div class="contact-descr">
							<p>г. Москва, Нахимовский проспект, д. 24
							новый зал, павильон M15-М16</p>
							<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
						</div>
						<div class="panel-inn panel-inn--contact">
							<div class="panel-close">Закрыть ESC</div>
							<div class="contact-block">
								<h2>Выставка "Mobel Expo"</h2>
								<h3>м. Профсоюзная</h3>
								<p>г. Москва, Нахимовский проспект, д. 24<br>
								новый зал, павильон M15-М16</p>
								<p>с 10:00 до 20:00 без выходных</p>
								<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
								<p>E-mail: <a href="#">m16@miksal.ru</a></p>
								<div class="gallery">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="contact-map">
									<img src="http://miksal.ru/in_ph/schema_n.jpg" alt="">
									<img src="http://miksal.ru/in_ph/schema_n1.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
					<li class="panel-one about-one">
						<div class="contact-title">Выставочный комплекс<br>"ЭкспоСтрой на Нахимовском"</div>
						<div class="contact-descr">
							<p>г. Москва, Нахимовский проспект, д. 24
							новый зал, павильон M15-М16</p>
							<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
						</div>
						<div class="panel-inn panel-inn--contact">
							<div class="panel-close">Закрыть ESC</div>
							<div class="contact-block">
								<h2>Выставка "Mobel Expo"</h2>
								<h3>м. Профсоюзная</h3>
								<p>г. Москва, Нахимовский проспект, д. 24<br>
								новый зал, павильон M15-М16</p>
								<p>с 10:00 до 20:00 без выходных</p>
								<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
								<p>E-mail: <a href="#">m16@miksal.ru</a></p>
								<div class="gallery">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="contact-map">
									<img src="http://miksal.ru/in_ph/schema_n.jpg" alt="">
									<img src="http://miksal.ru/in_ph/schema_n1.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
					<li class="panel-one about-one">
						<div class="contact-title">Выставка<br>"Москва-Сокол"</div>
						<div class="contact-descr">
							<p>г. Москва, Нахимовский проспект, д. 24
							новый зал, павильон M15-М16</p>
							<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
						</div>
						<div class="panel-inn panel-inn--contact">
							<div class="panel-close">Закрыть ESC</div>
							<div class="contact-block">
								<h2>Выставка "Mobel Expo"</h2>
								<h3>м. Профсоюзная</h3>
								<p>г. Москва, Нахимовский проспект, д. 24<br>
								новый зал, павильон M15-М16</p>
								<p>с 10:00 до 20:00 без выходных</p>
								<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
								<p>E-mail: <a href="#">m16@miksal.ru</a></p>
								<div class="gallery">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="contact-map">
									<img src="http://miksal.ru/in_ph/schema_n.jpg" alt="">
									<img src="http://miksal.ru/in_ph/schema_n1.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
					<li class="panel-one about-one">
						<div class="contact-title">Официальный представитель<br>ООО "Миксал+"</div>
						<div class="contact-descr">
							<p>г. Москва, Нахимовский проспект, д. 24
							новый зал, павильон M15-М16</p>
							<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
						</div>
						<div class="panel-inn panel-inn--contact">
							<div class="panel-close">Закрыть ESC</div>
							<div class="contact-block">
								<h2>Выставка "Mobel Expo"</h2>
								<h3>м. Профсоюзная</h3>
								<p>г. Москва, Нахимовский проспект, д. 24<br>
								новый зал, павильон M15-М16</p>
								<p>с 10:00 до 20:00 без выходных</p>
								<p>Телефон: +7 (495) 662-87-32 доб. 3</p>
								<p>E-mail: <a href="#">m16@miksal.ru</a></p>
								<div class="gallery">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="contact-map">
									<img src="http://miksal.ru/in_ph/schema_n.jpg" alt="">
									<img src="http://miksal.ru/in_ph/schema_n1.jpg" alt="">
								</div>
							</div>
						</div>
					</li>
					<li class="panel-one about-one--partner">
						<div class="panel-title">Наши партнеры</div>
						<div class="about-descr">
							Одно из самых сильных преимуществ компании Миксал, это собственное полноценное производство
						</div>
						<div class="panel-inn">
							<div class="panel-close">Закрыть ESC</div>
							<div class="">
								<div class="partner">
									<div class="partner-map" id="map"></div>
									<div class="partner-list">
										<h3><a href="#map" rel="Москва">Москва</a></h3>
										<ul>
							                <li>
							                    <b>Атмосфера Дерева</b>
							                    <br>Адрес: г. Москва, Нижняя Сыромятническая, д.10 стр.2 ARTPLAY оф. 34,1/1 <a href="#map" class="shop-on-map" rel="d4158" title="Показать на карте">На карте</a>
							                    <br>Телефон: 8-495-989-11-12                                                            
							                </li>
							                <li>
							                    <b>Компания "Элител"</b>
							                    <br>Адрес: ул. Вавилова, д. 15  <a href="#map" class="shop-on-map" rel="d2725" title="Показать на карте">На карте</a>
							                    <br>Телефон: (495) 223-65-55                     <br>E-mail: <a href="mailto:info@elitel.ru ">info@elitel.ru </a>                    <br><noindex>Сайт: <a href="http://www.elitel.ru" rel="nofollow" target="_blank">www.elitel.ru</a></noindex>                    
							                </li>
							                <li>
							                    <b>ООО " ДверМаг"</b>
							                    <br>Адрес: ул. Мневники, дом 10к1 <a href="#map" class="shop-on-map" rel="d2582" title="Показать на карте">На карте</a>
							                    <br>Телефон: (495) 286-83-93                    <br>E-mail: <a href="mailto:roman@dvermag.ru">roman@dvermag.ru</a>                    <br><noindex>Сайт: <a href="http://www.dvermag.ru" rel="nofollow" target="_blank">www.dvermag.ru</a></noindex>                    
							                </li>
							                <li>
							                    <b>ООО "ДверМаг"</b>
							                    <br>Адрес: Волгоградский проспект, дом 47 <a href="#map" class="shop-on-map" rel="d2583" title="Показать на карте">На карте</a>
							                    <br>Телефон: (495) 286-83-93                    <br>E-mail: <a href="mailto:roman@dvermag.ru">roman@dvermag.ru</a>                    <br><noindex>Сайт: <a href="http://www.dvermag.ru" rel="nofollow" target="_blank">www.dvermag.ru</a></noindex>                    
							                </li>
							                <li>
							                    <b>ООО ЕВРОДВЕРИ</b>
							                    <br>Адрес: Борисовские пруды, д.1, стр 72, 3 эт. оф. 304 <a href="#map" class="shop-on-map" rel="d2584" title="Показать на карте">На карте</a>
							                    <br>Телефон: (495)72-52-683 доб. 3                    <br>E-mail: <a href="mailto:dverieuro@mail.ru">dverieuro@mail.ru</a>                    <br><noindex>Сайт: <a href="http://www.glassdesing.ru" rel="nofollow" target="_blank">www.glassdesing.ru</a></noindex>                    
							                </li>
							                <li>
							                    <b>Сеть салонов паркета и дверей "Villa di Parchetti" Ленинский</b>
							                    <br>Адрес: Ленинский&nbsp;пр., 66 <a href="#map" class="shop-on-map" rel="d2585" title="Показать на карте">На карте</a>
							                    <br>Телефон: (495)&nbsp;788-83-42                    <br>E-mail: <a href="mailto:leninskiy@vparchetti.ru">leninskiy@vparchetti.ru</a>                    <br><noindex>Сайт: <a href="http://www.vparchetti.ru" rel="nofollow" target="_blank">www.vparchetti.ru</a></noindex>                    
							                </li>
                        				</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
	</ul>
