
<div class="list-slider">

	<div class="swiper-wrapper">
		<div class="list-slide swiper-slide"  data-url="/catalog-list.html">

		</div>

		<div class="list-slide swiper-slide slide--active">
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide.jpg)">
				<div class="list-slide__title">Раздвижная дверь</div>
			</a>
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide-2.jpg)">
				<div class="list-slide__title">Распашная дверь</div>
			</a>
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide-3.jpg)">
				<div class="list-slide__title">Перегородка</div>
			</a>
			<div class="list-one list-one--descr" style="background-image: url(tmp/main-slide-2.jpg)">
				<div class="list-slide__title">Модель OLIVA</div>
				<div class="list-slide__descr">
					Толщина дверного полотна 30 мм  <br>
					Профиль алюминиевый 30x60 мм или 30x90 мм  <br>
					Максимальная ширина полотна 1400 мм  <br>
					Максимальная высота 3500 мм  <br>
					Звукоизоляция 10 дБ<br>
				</div>	

				<div class="list-slider__link">
					<a href="#">Раздвижная дверь</a>
					<a href="#">Распашная дверь</a>
					<a href="#">Перегородка</a>
				</div>
			</div>
		</div>
		<div class="list-slide swiper-slide"  data-url="/catalog-list.html">

		</div>
	</div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<div class="swiper-pagination"></div>

</div>