
<div class="list-slider">

	<div class="swiper-wrapper">
		<div class="list-slide swiper-slide">
			<div class="list-one" style="background-image: url(tmp/main-slide-2.jpg)">
				<a href="#">Раздвижная дверь AVILA</a>
				<div class="list-category">
					<a href="#">Раздвижные двери серии Classic</a>
					<a href="#">Распашные двери серии Classic</a>
				</div>
			</div>
		</div>
		<div class="list-slide swiper-slide">
			<div class="list-one" style="background-image: url(tmp/main-slide-3.jpg)">
				<a href="#">Раздвижная дверь OLIVA</a>
				<div class="list-category">
					<a href="#">Раздвижные двери серии Classic</a>
					<a href="#">Распашные двери серии Classic</a>
				</div>
			</div>
		</div>
		<div class="list-slide swiper-slide">
			<div class="list-one" style="background-image: url(tmp/main-slide-4.jpg)">
				<a href="#">Раздвижная дверь TOLEDO</a>
				<div class="list-category">
					<a href="#">Раздвижные двери серии Classic</a>
					<a href="#">Распашные двери серии Classic</a>
				</div>
			</div>
		</div>
		<div class="list-slide swiper-slide">
			<div class="list-one" style="background-image: url(tmp/main-slide.jpg)">
				<a href="#">Раздвижная дверь VELEZ</a>
				<div class="list-category">
					<a href="#">Раздвижные двери серии Classic</a>
					<a href="#">Распашные двери серии Classic</a>
				</div>
			</div>
		</div>
		<div class="list-slide swiper-slide">
			<div class="list-one" style="background-image: url(tmp/main-slide-2.jpg)">
				<a href="#">Раздвижная дверь AVILA</a>
				<div class="list-category">
					<a href="#">Раздвижные двери серии Classic</a>
					<a href="#">Распашные двери серии Classic</a>
				</div>
			</div>
		</div>
		<div class="list-slide swiper-slide">
			<div class="list-one" style="background-image: url(tmp/main-slide-3.jpg)">
				<a href="#">Раздвижная дверь OLIVA</a>
				<div class="list-category">
					<a href="#">Раздвижные двери серии Classic</a>
					<a href="#">Распашные двери серии Classic</a>
				</div>
			</div>
		</div>
		<div class="list-slide swiper-slide">
			<div class="list-one" style="background-image: url(tmp/main-slide-4.jpg)">
				<a href="#">Раздвижная дверь TOLEDO</a>
				<div class="list-category">
					<a href="#">Раздвижные двери серии Classic</a>
					<a href="#">Распашные двери серии Classic</a>
				</div>
			</div>
		</div>
		<div class="list-slide swiper-slide">
			<div class="list-one" style="background-image: url(tmp/main-slide.jpg)">
				<a href="#">Раздвижная дверь VELEZ</a>
				<div class="list-category">
					<a href="#">Раздвижные двери серии Classic</a>
					<a href="#">Распашные двери серии Classic</a>
				</div>
			</div>
		</div>
	</div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
	<div class="swiper-pagination"></div>

</div>