
<div class="list-slider">

	<div class="swiper-wrapper">
		<div class="list-slide swiper-slide">
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide-2.jpg)">
				Раздвижная дверь AVILA
			</a>
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide-3.jpg)">
				Раздвижная дверь OLIVA
			</a>
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide-4.jpg)">
				Раздвижная дверь TOLEDO
			</a>
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide.jpg)">
				Раздвижная дверь VELEZ
			</a>
		</div>
		<div class="list-slide swiper-slide">
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide-2.jpg)">
				Раздвижная дверь AVILA
			</a>
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide-3.jpg)">
				Раздвижная дверь OLIVA
			</a>
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide-4.jpg)">
				Раздвижная дверь TOLEDO
			</a>
			<a href="#" class="list-one" style="background-image: url(tmp/main-slide.jpg)">
				Раздвижная дверь VELEZ
			</a>
		</div>
	</div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

	<div class="list-category">
		<a href="#">Раздвижные двери серии Classic</a>
		<a href="#">Распашные двери серии Classic</a>
		<a href="#">Радиусные раздвижные двери серии Classic</a>
		<a href="#">Радиусные распашные двери серии Classic</a>
	</div>
</div>