@import "../sprite.less";
@import "../mixin.less";
@import "../base.less";


@media screen and (max-width: 1280px) {
	.main-slider {
		.swiper-button-next {
			display: none;
		}

		.swiper-button-prev {
			display: none;
		}

		.swiper-pagination {
			display: block;
			bottom: 130px;
		}

		.swiper-pagination-bullet {
			border-radius: 0;
			width: 26px;
			height: 2px;
			background-color: #fff;
		}
	}

	.order {
		width: 250px;
		height: 110px;
	}

	.order-left {
		padding: 30px 10px;
	}

	.order-button {
		padding-top: 50px;
	}

	.head {
		height: 110px;
	}

	.menu-top {
		margin-bottom: 10px;
		a {
			margin-bottom: 5px;
		}
	}

	.menu-prod {
		a {
			margin-bottom: 5px;
		}
	}
	

}