@import "../sprite.less";
@import "../mixin.less";
@import "../base.less";


@media screen and (max-width: 760px) { // планшет горизонтально
	.head__phone {
		display: none;
	}

	.main-slide__subtitle {
		display: none;
	}

	.main-slide-descr {
		width: 100%;
		left: 0;
		bottom: 120px;
	}

	.main-slider {
		.swiper-pagination {
			bottom: 60px;
		}
	}

	.main-slide__title {
		text-align: center;
		font-size: 24px;
		width: 100%;
		text-transform: uppercase;
	}

	.info-subtitle {
		display: block;
	}

	.slide-bottom {
		background: #282c33;
		padding: 15px 15px 45px 15px;
		height: auto;
		bottom: -100%;
		z-index: 100;
	}

	.slide-bottom__descr {
		span {
			border: none;
			text-align: center;
			display: block;
			margin-bottom: 15px;
			font-size: 10px;
			padding: 0;
		}
	}

	.slide-bottom__price {
		top: auto;
		right: auto;
		bottom: 0;
		left: 15px;
		padding: 15px 0;
		width: ~'calc(100% - 30px)';
		text-align: left;
		border-top: 1px solid #3e4248;
		font-size: 10px;

		span {
			position: absolute;
			top: 15px;
			font-size: 12px;
			right: 0;
		}
	}

	.info-close {
		display: block;
	}

	.slider-info {
		display: block;
	}

	.m-menu-bottom {
		padding-top: 100px;
		a {
			font-size: 19px;
			margin-bottom: 10px;
			padding: 0;
		}
	}



	.catalog-slide-inn {
		padding: 0;
	}

	.parametrs {
		position: fixed;
	    width: 100%;
	    bottom: -100%;
	    //left: 0;
	    background: #282c33;
    	padding: 15px 15px 45px 15px;
	    color: #fff;
	    z-index: 100;
	} 

	.parametr {
		display: block;
		height: auto;
		margin-right: 0;
		padding-top: 0;
		text-align: center;
		margin-bottom: 10px;
		br {
			display: none;
		}
		&:before {
			display: none;
		}
	}

	.catalog-slide__title {
		position: fixed;
		text-align: center;
    	font-size: 24px;
		width: 100%;
	    //left: 0;
	    bottom: 100px;
	    max-width: 100%;
	    text-transform: uppercase;
	}

	.catalog-slider {
		.swiper-button-next, 
		.swiper-button-prev {
			display: none;
		}
	}

	.parametrs {
		.slide-bottom__price {
			display: block;
		}
	}

	.list-category {
		left: 20px;
		width: ~'calc(100% - 40px)';
		bottom: 100px;
		a {
			width: 49%;
			height: 80px;
			padding: 10px 20px;
			margin-right: 2%;
		}
	}

	.list-one {
		display: none;
	}

	.list-one--descr {
		display: block;
		width: 100%;
	}

	.list-slider__link {
		display: block;

		a {
			color: #fff;
			display: block;
			margin: 10px 0;
		}
	}

	.list-slide__title {
		font-size: 24px;
	}

	.list-slide__descr {
		font-size: 14px;
	}


	.type-slider,
	.list-slider {
		.swiper-button-prev {
			display: none;
		}

		.swiper-button-next {
			display: none;
		}

		.swiper-pagination {
			display: table;
			padding: 0 20px;
			position: absolute;
			bottom: 70px;
			text-align: center;
			z-index: 1;
		}

		.swiper-pagination-bullet {
			border-radius: 0;
		    height: 2px;
		    display: table-cell;
		    background: none;
		    &:before {
		    	content: "";
		    	display: block;
		    	margin: 0 4px;
		    	height: 2px;
		    	background: #fff;
		    	opacity: 0.3;
		    }
		}
	}
	
	.type-slide-descr {
		position: relative;
		bottom: auto;
		left: auto;
		padding: 100px 20px 0;
	}

	.type-slide__title {
		text-align: left;
    	font-size: 24px;
    	width: 100%;
	}

	.type-slide__subtitle {
		border-left: none;
		padding: 0;
	}

	.list-type {
		width: ~'calc(100% - 40px)';
		bottom: 100px;
    	left: 20px;
		a {
			width: 47.5%;
			height: 80px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}

	.list-one {
		height: 100%;
		background-size: cover;
		padding: 100px 20px 0 !important;

		.list-slide__title {
			display: block;
			width: 100%;
			
		}
	}

	.list-slider {
		height: 100vh;
	}

	.list-slide {
		height: 100%;
	}

	.modal {
		width: 100%;
	    height: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    margin-left: 0;
	}

	.garderob-info {
		font-size: 14px;
	}

	.garderob-info__title {
		margin-bottom: 10px;
	}

	.garderob-info__text {
		font-size: 12px;
	}

	.catalog-slide__title--contact {
		position: relative;
    	padding-top: 80px;
    	bottom: auto;
    	margin-bottom: 20px;
	}

	.contact-mobile {
		display: block;
		color: #fff;
		padding: 20px;
		background: rgba(0,0,0,0.3);
		margin: 0 20px;

		h1 {
			color: #fff;
			font-size: 22px;
			margin-bottom: 30px;
		}

		h2 {
			color: #fff;
			font-size: 18px;
			margin-bottom: 10px;
		}

		h3 {
			color: #fff;
			font-size: 16px;
			margin-bottom: 10px;
		}

		p {
			font-size: 12px;
			line-height: 18px;
			margin-bottom: 10px;
		}

		a {
			color: #fff;
		}
	}

	.partner-list {
		width: 100%;
		height: auto;
		padding-left: 0;
		color: #fff;
		padding-top: 40px;
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		overflow: visible;
	}

	.catalog-slide-inn {
		background-attachment: fixed;
	}

	.contact-mobile-salon {
		margin-bottom: 40px;
	}

	.contact {
		height: auto;
		background-attachment: fixed;
		background-size: cover;
	}
}

@media screen and (max-width: 480px) { // телефон

}