<div class="main-slider">
	<div class="swiper-wrapper">
		<div class="main-slide swiper-slide" style="background-image: url(../tmp/main-slide.jpg);">
			<div class="main-slide-descr">
				<div class="main-slide__title">
					СКРЫТАЯ ДВЕРЬ “СЕКРЕТ”
				</div>
				<div class="main-slide__subtitle">
					грунтованная под<br>финишную отделку
				</div>
				<!-- <div class="slider-info"></div> -->
			</div>
			<div class="slide-bottom">
				<div class="info-close"></div>
				<div class="info-subtitle">
					грунтованная под<br>финишную отделку
				</div>
				<div class="slide-bottom__descr">
					<span>ДЕРЕВЯННАЯ ОРОБКА А7</span>
					<span>ПОЛОТНО</span>
					<span>СРЫКТЫЕ ПЕТЛИ KOBLENZ</span>
					<span>ЗАМОК AGB</span>
				</div>
				<div class="slide-bottom__price">
					ЦЕНА  ЗА КОМПЛЕКТ
					<span>45 000 Р</span>
				</div>
			</div>
		</div>
		<div class="main-slide swiper-slide" style="background-image: url(../tmp/main-slide-2.jpg);">
			<div class="main-slide-descr">
				<div class="main-slide__title">
					Раздвижная дверь AVILA
				</div>
				<div class="main-slide__subtitle">
					грунтованная под<br>финишную отделку
				</div>
				<!-- <div class="slider-info"></div> -->
			</div>
			<div class="slide-bottom">
				<div class="info-close"></div>
				<div class="info-subtitle">
					грунтованная под<br>финишную отделку
				</div>
				<div class="slide-bottom__descr">
					<span>ДЕРЕВЯННАЯ ОРОБКА А7</span>
					<span>ПОЛОТНО</span>
					<span>СРЫКТЫЕ ПЕТЛИ KOBLENZ</span>
					<span>ЗАМОК AGB</span>
				</div>
				<div class="slide-bottom__price">
					ЦЕНА  ЗА КОМПЛЕКТ
					<span>45 000 Р</span>
				</div>
			</div>
		</div>
	</div>

	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

</div>