<div class="head">

	<div class="head-left">
		<div class="head__phone">
		 	+7 (495) <b>662 87 32</b>
		</div>

		<a href="/" class="logo">
		 	<div class="logo__img">
		 		<img src="img/logo-img.png" alt="">
		 	</div>
		 	<div class="logo__text">
		 		<img src="img/logo.png" alt="">
		 	</div>
		</a>
	</div>

	<div class="menu-top">
		<a href="#">КОМПАНИЯ</a>
		<a href="#">КОНТАКТЫ</a>
		<a href="#">ПРЕДЛОЖЕНИЯ  ДЛЯ АРХИТЕКТОРОВ</a>
		<a href="#">Производство</a>
		<a href="#">Разработка</a>
		<a href="#">Калькулятор</a>
	</div>
	<div class="menu-prod">
		<a href="#">СЕРИЯ ИЗ СТЕКЛА</a>
		<a href="#">СЕРИЯ CLASSIC</a>
		<a href="#">СЕРИЯ SLIM</a>
		<a href="#">СЕРИЯ VETRO</a>
		<a href="#">СЕРИЯ SOLO</a>
		<a href="#">СКРЫТЫЕ</a>
		<a href="#">ДВЕРНЫЕ КОРОБКИ</a>
		<a href="#">МЕБЕЛЬ</a>
	</div>

	<div class="order">
		<div class="order-left">
			<div class="order-title">
				ЦЕНА  ЗА КОМПЛЕКТ
			</div>
			<div class="order-price">
				19500 P
			</div>
		</div>
		<div class="order-right">
			<a class="order-button open-modal" href="#order">
				ОФОРМИТЬ<br>ЗАКАЗ
			</a>
		</div>
	</div>
	<a href="tel:+74956628732" class="mobile-call"></a>
	<a href="#mobile-menu" class="mobile-menu-open open-modal"></a>
</div>