
<div class="catalog-slider">

	<div class="swiper-wrapper">
		<div class="catalog-slide swiper-slide slide--active">
			<div class="catalog-slide-inn" style="background-image: url(../tmp/main-slide-3.jpg);">
				<div class="catalog-slide__title">Корпусная гардеробная <br>
				<span>с габаритами 2415х570х2300 мм</span>
				<div class="slider-info"></div>
				</div>
				
				<div class="parametrs">
					<div class="info-close"></div>
					<div class="garderob-info">
						<div class="garderob-info__title">Состав изделия </div>
						<div class="garderob-info__text">
							ЛДСП 16мм -	15,000	м2 <br>
							Механизм плавного выдвижения// Push	-	4,000	шт <br>
							Ручка -	4,000	шт <br>
							Задняя Стенка	-	7,500	м2 
						</div>
					</div>
					
				</div>
				<div class="panel-overlay"></div>
				<ul class="catalog-bottom">
					
					<li class="panel-one panel-one--gallery panel-one--fourth">
						<div class="panel-title">Чертежи
							<div class="gallery-pagination"></div>
							
						</div>
						<div class="panel-inn">
							<div class="panel-close">Закрыть ESC</div>
							<div class="panel-slider-wrap">
								<div class="gallery">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<a class="popup-open" href="http://miksal.ru/upload/resize_cache/iblock/ba3/1024_1024_14f016ff84def8868547612c0d39564f0/ba370c39e51ffa38f5acf2b143292772.jpg">
												<img src="http://miksal.ru/upload/resize_cache/iblock/ba3/1024_1024_14f016ff84def8868547612c0d39564f0/ba370c39e51ffa38f5acf2b143292772.jpg" alt="">
											</a>
										</div>
										<div class="swiper-slide">
											<a class="popup-open" href="http://miksal.ru/upload/resize_cache/iblock/441/851_743_14f016ff84def8868547612c0d39564f0/4418738fa3b2ec8facc6b895d89af7ca.jpg">
												<img src="http://miksal.ru/upload/resize_cache/iblock/441/851_743_14f016ff84def8868547612c0d39564f0/4418738fa3b2ec8facc6b895d89af7ca.jpg" alt="">
											</a>
										</div>
										<div class="swiper-slide">
											<a class="popup-open" href="http://miksal.ru/upload/resize_cache/iblock/6bc/875_347_14f016ff84def8868547612c0d39564f0/6bc5d65c44a7b877fb014f07e4c9cff5.jpg">
												<img src="http://miksal.ru/upload/resize_cache/iblock/6bc/875_347_14f016ff84def8868547612c0d39564f0/6bc5d65c44a7b877fb014f07e4c9cff5.jpg" alt="">
											</a>
										</div>
										
									</div>
								</div>
							</div>

							<div class="panel-carusel-next"></div>
							<div class="panel-carusel-prev"></div>

						</div>
					</li>
					<li class="panel-one panel-one--fourth">
						<div class="panel-title">Двери</div>
						<div class="panel-inn">
							<div class="panel-close">Закрыть ESC</div>

							<div class="furniture-slider">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<a href="#">
											<img src="http://miksal.ru/upload/resize_cache/iblock/0d6/160_145_175511db9cefbc414a902a46f1b8fae16/0d67af525326752323dbfe0934bf1e5a.jpg" alt="">
											<div class="furniture__title">Раздвижная дверь IBIZA</div>
										</a>
									</div>
									<div class="swiper-slide">
										<a href="#">
											<img src="http://miksal.ru/upload/resize_cache/iblock/0d6/160_145_175511db9cefbc414a902a46f1b8fae16/0d67af525326752323dbfe0934bf1e5a.jpg" alt="">
											<div class="furniture__title">Раздвижная дверь IBIZA</div>
										</a>
									</div>
									<div class="swiper-slide">
										<a href="#">
											<img src="http://miksal.ru/upload/resize_cache/iblock/0d6/160_145_175511db9cefbc414a902a46f1b8fae16/0d67af525326752323dbfe0934bf1e5a.jpg" alt="">
											<div class="furniture__title">Раздвижная дверь IBIZA</div>
										</a>
									</div>
									<div class="swiper-slide">
										<a href="#">
											<img src="http://miksal.ru/upload/resize_cache/iblock/0d6/160_145_175511db9cefbc414a902a46f1b8fae16/0d67af525326752323dbfe0934bf1e5a.jpg" alt="">
											<div class="furniture__title">Раздвижная дверь IBIZA</div>
										</a>
									</div>
									
								</div>
							</div>

							<div class="panel-carusel-next"></div>
							<div class="panel-carusel-prev"></div>
						</div>
					</li>
					<li class="panel-one panel-one--interier panel-one--half">
						<div class="panel-title">ИНТЕРЬЕРНЫЕ РЕШЕНИЯ
							<div class="gallery2-pagination"></div>
						</div>
						<div class="panel-inn">
							<div class="panel-close">Закрыть ESC</div>

							<div class="panel-slider-wrap">
								<div class="gallery-2">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/96d/1300_1300_14f016ff84def8868547612c0d39564f0/96d59711c7a41ac6885ff07471a4fa99.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/67e/1300_770_14f016ff84def8868547612c0d39564f0/67ec6da985ee86ad496e55bea6a1e4d4.jpg" alt="">
										</div>
										<div class="swiper-slide">
											<img src="http://miksal.ru/upload/resize_cache/uf/07d/1300_1300_14f016ff84def8868547612c0d39564f0/07d2ea6d208a18b20917b05809e9f08c.jpg" alt="">
										</div>
									</div>
								</div>
							</div>

							<div class="panel-carusel-next"></div>
							<div class="panel-carusel-prev"></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="slide-pagination">
				<a href="/catalog.html"></a>
				<a class="active" href="/catalog.html"></a>
				<a href="/catalog.html"></a>
				<a href="/catalog.html"></a>
				<a href="/catalog.html"></a>
				<a href="/catalog.html"></a>
				<a href="/catalog.html"></a>
				<a href="/catalog.html"></a>
			</div>
		</div>
		<div class="catalog-slide swiper-slide" data-url="/garderob.html">
			
		</div>
		
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>